body {
    font-family: 'Arial', sans-serif;
    background-color:rgb(0, 157, 255);
    color: #333;
    margin: 0;
    padding: 0;
}

.clima-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100vh;
}

.titulo {
    font-size: 2rem;
    margin-bottom: 20px;
    color:rgb(255, 255, 255);
    font-weight: bold;
}

.clima-info {
    text-align: center;
    padding: 20px;
    background-color: rgb(135, 206, 250);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
}

.clima-icone {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.descricao {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 10px;
}

.temperatura {
    font-size: 2.5rem;
    font-weight: bold;
    color: #ff6f61;
}

.loading {
    font-size: 1.5rem;
    background-color:rgb(0, 157, 255);
    color: #ffff;
    text-align: center;
    margin-top: 50px;
}

.error {
    font-size: 1.5rem;
    color: #ff3333;
    text-align: center;
    margin-top: 50px;
}

.weather-button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.weather-button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .titulo {
        font-size: 1.8rem;
    }

    .clima-icone {
        width: 50px;
        height: 50px;
    }

    .descricao {
        font-size: 1rem;
    }

    .temperatura {
        font-size: 2rem;
    }

    .weather-button {
        font-size: 1rem;
        padding: 0.8rem 1.5rem;
    }
}