.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:rgb(0, 157, 255); 
  overflow: hidden;
  position: relative;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.description {
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
}

.weather-button {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.weather-button:hover {
  background-color: #0056b3;
}

.clouds {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://www.transparenttextures.com/patterns/clouds.png'); 
    background-size: cover;
    z-index: -1; 
    animation: move-clouds 10s infinite linear;
}

@keyframes move-clouds {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .description {
    font-size: 1rem;
  }

  .weather-button {
    font-size: 1rem;
  }
}
